h1,
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  color: #00204a;
}
h1 {
  font-size: 35px;
  margin-top: 10px;
  margin-top: -50px;
}
h2 {
  line-height: 1.5;
  font-size: 20px;
}

.weather-app {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/091/088/original/Untitled_design_%282%29.gif?1690227292");
  background-size: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 650px;
  margin: 0 auto;
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.search-bar {
  margin-top: -70px;
  font-family: "Poppins", sans-serif;
  margin-inline: -45px;
}

.btn {
  color: #111f4d;
  border-color: #e4f1fe;
  font-size: 14px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.searched-city {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: italic;
  margin-inline: -35px;
  color: black;
  font-weight: 550;
}
.weather-details {
  border: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  margin: 30px auto;
  padding: 12px;
  max-width: 400px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #00204a;
}
.future-forecast {
  border: 2px outset rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  margin-top: 40px;
  margin-bottom: -50px;
  margin-inline: -45px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 2.2;
  text-align: center;
  color: black;
}
#enter-city {
  color: black;
}
#celcius-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #152744;
  font-size: 25px;
  vertical-align: super;
}
#celsius-link:visited {
  text-decoration: none;
}
#fahrenheit-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #152744;
  font-size: 25px;
  vertical-align: super;
}
#fahrenheit-link:visited {
  text-decoration: none;
}
#description {
  text-transform: capitalize;
}
#coder {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
#coder-paragraph {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: -30px;
}
.location-icon {
  position: initial;
}
.precipitation-icon {
  width: 20px;
}
.humidity-icon {
  width: 20px;
}
.wind-icon {
  width: 20px;
}
.h1-icon {
  width: 80px;
}
.sun-icon {
  width: 40px;
}
.clouds-icon {
  width: 40px;
}
.cloud-icon {
  width: 40px;
}
.rain-icon {
  width: 40px;
}
