h1,
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  color: #200f21;
}
h1 {
  font-size: 40px;
  margin-top: -50px;
}
h2 {
  line-height: 1.5;
  font-size: 18px;
}

.weather-app {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/091/310/original/Untitled_design_%285%29.gif?1690399857");
  background-size: cover;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 650px;
  margin: 0 auto;
  padding: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 30px;
}
.search-bar {
  margin-top: -70px;
  font-family: "Poppins", sans-serif;
  margin-inline: -45px;
}

.btn {
  color: #111f4d;
  border-color: #200f21;
  font-size: 14px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.searched-city {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: italic;
  margin-inline: -35px;
  color: #200f21;
  font-weight: 550;
}
.units {
  vertical-align: super;
}
.active {
  color: black;
  cursor: default;
}
.weather-details {
  border: 2px outset rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  margin: 28px auto;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 650;
  text-align: center;
  color: #200f21;
}
.future-forecast {
  border: 2px outset rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
  margin-top: 55px;
  margin-bottom: -50px;
  margin-inline: -45px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 450;
  line-height: 2.2;
  text-align: center;
  color: #200f21;
}
#enter-city {
  color: black;
}
#h1-icon {
  width: 80px;
  margin-bottom: -10px;
}
#celcius-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 25px;
}
#celsius-link:visited {
  text-decoration: none;
}
#fahrenheit-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 25px;
  cursor: default;
}
#fahrenheit-link:visited {
  text-decoration: none;
}
#units-bar {
  font-size: 25px;
}
#description {
  text-transform: capitalize;
}
#coder {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
#coder-paragraph {
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: -30px;
}
.location-icon {
  position: initial;
}
.humidity-icon {
  width: 20px;
}
.wind-icon {
  width: 20px;
}
.sun-icon {
  width: 40px;
}
.clouds-icon {
  width: 40px;
}
.cloud-icon {
  width: 40px;
}
.rain-icon {
  width: 40px;
}
